
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #252525;
    line-height: 25px;
    position: relative;
}
html{
    scroll-behavior: smooth;
}

/* banner */
#banner-section{
    position: relative;
}
.background-img{
    background-image: url(images/slider/slider-bg1.jpg);
    height: 660px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-img::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #20232E;
    content: "";
    opacity: 0.7;
    z-index: 1;
}
.banner-section .main-container{
    position: relative;
    z-index: 1;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.banner-section .main-container .box{
    display: flex;
}
.banner-section .main-container .box .content {
    
    color: white;
    width: 58%;
    margin-top: 158px;
}
.banner-section .main-container .box .content h1 {
    font-size: 48px;
    line-height: 1;
    background: #05C46B;
    padding: 30px;
}
.banner-section .main-container .box .content h1 span {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}


.banner-section .main-container .box .content p {
    font-size: 15px;
    background: #fff;
    color: #555;
    padding: 30px;
}

.button-banner{
    margin-top: 20px;
}
.button-banner a{
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #05C46B;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 0px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    border: none;
    text-decoration: none;

    transition: all 0.3s ease 0s;
    margin-right: 15px;
}
/* ---------------------------------------------------------------------------------- */
.header-section3header-section .main-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.header .nav-content{
    display: flex;
    margin-left: auto;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 30px;
    margin-right: 10px;
}
.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}


 /* Basic styling for the navigation */
.nav {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav a.active{
    color: #05C46B;
}
.nav a {
    margin-right: 25px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    position: relative; }
.nav a:hover {
    color: #00C689; 
}
.home-link {
    color: #00C689;
}
.home-link i{
    margin-right: 5px;
}

/* Styling for icons */
.icons {
    display: flex;
    align-items: center;
}
.icons i {
    margin-left: 15px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.nav-content .nav li a::before{
    content: "";
    position: absolute;
    height: 2px; 
    width: 0%; 
    left: 50%;
    bottom: -17px; 
    background: #05C46B; 
    transition: all 0.3s ease; 
    border-radius: 30px; 
    transform: translateX(-50%); 
}

.nav-content .nav li a::after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -8px; 
    background: #05C46B; 
    opacity: 0;
    visibility: hidden; 
    bottom: -20px;
    transition: all 0.3s ease; 
}


.nav-content .nav li a:hover::before{
    width: 100%; 
}

.nav-content .nav li a:hover::after{
    opacity: 1;
    visibility: visible; 
}



/* ------------------------------------------------------------ */
/* course-container */
.courses-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.course-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    text-align: left;
    position: relative;
}

.course-card img {
    width: 100%;
}

.course-info {
    padding: 20px 0;
    margin: 0 15px;
}

.course-info h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.course-info p {
    margin: 0 0 20px;
    color: #777;
    font-size: 14px;
}

.course-price {
    background-color: #4CAF50;
    color: white;
    color: #fff;
    padding: 5px 25px;
    font-weight: 700;
    position: relative;
    /* margin-top: 12px; */
    /* float: right; */
    border-radius: 50px;
}

.course-meta {
   
    font-size: 14px;
    color: #777;
    background: #fff;
    border-top: 1px solid rgba(204, 204, 204, 0.45);
    overflow: hidden;
    /* margin: 15px; */
    text-align: left;
    padding-top: 15px;
}
.course-meta .enrolled-container{
    display: inline-flex;
}
.course-meta .enrolled-container span{
    display: inline-flex;
    
}

.course-meta .rating i{
    color: #4CAF50;
    margin-right: 2px;
}


.course-meta .enrolled,
.course-meta .duration,
.course-meta .time {
    display: flex;
    align-items: center;
}

.course-meta .enrolled span,
.course-meta .duration span,
.course-meta .time span {
    margin-left: 5px;
}

.instructor {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 333;
    margin-top: -50px;
}

.instructor img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    display: inline-block;
    border: 4px solid #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease, border-color 0.5s ease;
}
.instructor:hover img {
    border-color: #05C46B;
    transform: rotate(360deg);
    cursor: pointer;
}

.instructor .imag-section h4{
    font-weight: 500;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: -43px;
    z-index: 33;
    font-size: 13px;
    background: #05C46B;    visibility: hidden;
    transition: all 0.3s ease 0s;
}
.instructor .imag-section h4::before{
    content: "";
    border-bottom: 12px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    border-bottom-color: #05C46B;
}


.instructor .imag-section:hover h4 {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}
.course-card .course-content{
    position: relative;

}
.course-card .course-content.overlay:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #20232E;
    content: "";
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}


/* ------------------------------------------------------------------ */
/* features */
.focus-on .overlay .main-container .container.color{
    color: white;
    padding: 60px 0 90px;

}

.focus-on .overlay .main-container .container .card .icon{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    left: 0;
    display: inline-block;
    overflow: hidden;
    background: green;
}

.icon i{
    font-size: 22px;
}
.card h3{
    font-size: 18px;
    margin: 15px 0;
}
.card p{
    line-height: 22px;
    color: #ccc;
}
/* image */


.focus-on .overlay .main-container .container .card .icon-img{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    left: 0;
    display: inline-block;
    overflow: hidden;
}


.icon-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 1;
   
    transition: all 0.3s ease 0s;
    background-color: #05C46B;
}
.icon-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0;
    visibility: hidden;
}
.icon-img  i{
    position: relative;
    font-size: 20px;
}

 .card:hover .icon-img:before {
    opacity: 0.5;
}

 .card:hover .icon-img img {
    opacity: 1;
    visibility: visible;
    transform: scale(1.2);
}




/* ---------------------------------------- */
/* focus-on */
.focus-on{
    background-image: url(images/cta-bg.jpg);
    background-position: 50% -36.3047px;
    height: 386px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* background-overlay */
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
}

/* background-overlay */
.focus-on:after{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 386px;
    opacity: 0.8;
    background: #20232E;
    content: "";

}
.focus-on .main-container{
    position: relative;
    z-index: 10;
}
#focus-on {
    margin-top: 50px;
    border-color: #F8F8F8;

}
.focus-on   .main-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
   
   
}
.focus-on   .main-container .container {
    display: flex;
    
}
.focus-on   .main-container .content {
    flex: 2;
    padding-top: 80px;
    color: white;
    text-align: left;

    
}
.focus-on   .main-container .content h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.focus-on   .main-container .content h1 span {
    color: #00C689;
    font-style: italic;
}
.focus-on   .main-container .content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    gap: 20px;
}
.buttons a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}
.join-button {
    background-color: white;
    color: black;
    border: 2px solid white;
}
.courses-button {
    background-color: #00C689;
    color: white;
}
.buttons a:hover {
    opacity: 0.8;
}
.focus-on   .main-container .container .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.focus-on   .main-container .container .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: -120px;
}











/* --------------------------------------------------------------------------- */
/* upcoming-column */
.right-column {
    flex: 2;
    padding: 20px;
}
.event-card {
    padding: 30px 20px 30px 60px;
    display: flex;

    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    align-items: center;
    position: relative;
    width: 617pz;
    width: 617px;
    margin-left: 30px;
}
.event-date {
    background-color: #00C689;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 70px;
    width: 70px;
    position: absolute;
    left: -35px;
    width: 70px;
    text-align: center;
    top: 50%;
    margin-top: -35px;
    padding: 10px 0;
    z-index: 10;
}
.event-date span {
    font-size: 24px;
}
.event-date small {
    font-size: 14px;
}
.event-details {
    padding: 20px;
    flex: 1;
}
.event-details h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}
.event-details p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}
.event-details .event-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #00C689;
}
.event-details .event-time::before {
    content: "\1F551"; /* Clock emoji */
    margin-right: 5px;
}
















/* ----------------------------------------- */
/* frequent-asked */
#frequent-asked{
    margin-top: 50px;
    border-color: #F8F8F8;

}
.frequent-asked  .main-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
   
}
.frequent-header{
    display: flex;
    /* flex: 1; */
    margin-left: 25%;
}
.frequent-header .frquent-title{
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
}
.frquent-title h2{
    
    font-size: 34px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 10px;

}
.frquent-title h2 span{
    font-weight: 300;
}
.frquent-title p{
    font-size: 14px;
    color: #555;
    font-weight: 400;
    line-height: 22px;
}
.frquent-title .icon{
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
}
.frquent-title .icon::before{
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 2px;
    background: #05C46B;
    left: 50%;
    margin-left: -50px;
    margin-top: -1px;
}
.frquent-title .icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    background: #05C46B;
    color: #fff;
    top: 0;
    position: relative;
    z-index: 4;
}
.frequent-asked  .main-container .container {
    display: flex;
   
    width: 100%;
}
.image-container {
    flex: 0 0 41%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    padding: 0 15px;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.accordion {
    flex: 2;
    padding: 0 15px;}
.accordion-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.accordion-item.active .accordion-header {
    background-color: #00C689;
    color: white;
}
.accordion-header {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
   
    cursor: pointer;
}



.accordion-content {
    display: none;
    padding: 15px 20px;
    font-size: 14px;
    color: #333;
    background-color: #F9F9F9;

}
.accordion-item.active .accordion-content {
    display: block;
    transition: all 0.3s ease 0s;
}
.accordion-header i{
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}




/* --------------------------------------------------------------------- */
/* awesome-section */
#awesome-client{
    margin-top: 50px;
    background-color: #05C46B;

}
.awesome-client  .main-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
   
}
.client-section {
    padding: 35px 0;    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-text h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}
.client-text p {
    color: #f8f8f8;
    line-height: 22px;
    font-size: 14px;
}
.client-logos {
    display: flex;
    gap: 20px;
    align-items: center;
}
.client-logos img {
    max-height: 40px;
    display: block;
}
.client-logos img:hover{
    transform: scale(0.9);
    transition: all 0.3s ease;
    cursor: pointer;
}






/* footer-section */

.footer-section .overlay{
    padding: 60px 0 90px;
    background-image: url(images/clients-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.footer-section .overlay::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #20232E;
    content: "";
   
    transition: all 0.3s ease 0s;
}
.footer-section .main-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 10;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-column {
    flex: 1;
    margin-right: 20px;
}
.footer-column h3 {
    font-size: 16px;
    margin-bottom: 25px;
    color: #fff;
    position: relative;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-column ul li a i{
    margin-right: 15px;
}
.footer-column ul li span {
    color: #ccc;
}
.footer-column ul li span i{
    margin-right: 15px;
}
.social-icons {
    margin-top: 20px;}
.social-icons a i{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.opening-hours span {
    display: inline-block;
    background-color: #00C689;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
}
.footer-bottom {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #ccc;
}
.footer-bottom a {
    color: #00C689;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-bottom a:hover {
    color: #fff;
}
.footer-column .days li{
    position: relative;
    line-height: 35px;
    color: #ccc;

}
.footer-column .days .time{
    float: right;
}
.footer-column .days .time.close{
    color: #fff;
    border-radius: 30px;
    padding: 0 11px;
    line-height: 30px;
    background: green;
}


/* ----------------top-up */
/* to-top */
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  .to-top.active:hover{
    background-color: #f77557;

  }
  
  .to-top.active {
    
    pointer-events: auto;
    opacity: 1;
    background-color: #00C689;
      border-color:#FE5D37;
      color: white;
      border-radius: 0;
      transition: 0.5s;
      z-index: 1000;
      border-radius: 50%;
  }
  .to-top i{
    font-size: 20px;
      font-weight: 600;
  
  
  }
